@import "variables.css";

header {
  display: flex;
  background-color: white;
  flex-direction: row;
  padding: 0px 100px;
  min-height: 10vh;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: relative;
  font-family: var(--titleFont);
}
header div {
  float: left;
}
header div a {
  font-size: 2rem;
}

header ul {
  display: flex;
  flex-direction: row;
  float: right;
}
header ul li {
  margin: 0 var(--standaardMarge) 0 0;
}
header ul li a {
  text-decoration: none;
  color: black;
}
header ul li a:hover {
  text-decoration: underline;
}
