@import "variables.css";

header {
  display: flex;
  background-color: var(--color3);
  flex-direction: row;
  padding: 0px 120px;
  height: 12vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  font-family: var(--titleFont);
  top: 0;
  z-index: 10;
}

header div {
  float: left;
}
header div a {
  font-size: 2.5rem;
  color: var(--color1);
}

header ul {
  display: flex;
  flex-direction: row;
  float: right;
}
header ul li {
  margin: 0 50px 0 0;
}
header ul li a {
  text-decoration: none;
  color: var(--color4);
  font-size: 1.5rem;
}
header ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 550px) {
  header {
    padding: 0px 30px;
  }
  header ul {
    display: none;
  }
}
@media (max-width: 960px) {
  header ul {
    display: none;
  }
  header {
    padding: 0px 30px;
  }
  header div {
    margin: auto;
  }
}
