.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: black;
}
.fa-youtube {
  color: #ff0000;
}
.fa-instagram {
  color: #833ab4;
}
.fa-facebook {
  color: #3b5998;
}
.fab:hover {
  color: var(--color4);
}
