@import "variables.css";

body {
  /*background-color: #f1f1f5;*/
  background-color: white;
  margin: 0;
  font-family: var(--textFont);
}
::selection {
  color: var(--color3);
  background-color: var(--color2);
}
main {
  text-align: center;
  padding: 0px 120px;
  margin: 150px 0;
}
/*bio*/
main #bio div img {
  width: 20vw;
  margin: auto;
}
main #bio div {
  margin: 10px auto;
}
main #bio div:nth-child(1) {
  float: left;
  margin: 10px 0;
}
main #bio div:nth-child(2) {
  float: right;
  width: 60vw;
  margin: 10px 0;
}
#uitleg p span {
  color: var(--color4);
}
#myImage {
  position: absolute;
  opacity: 1;
  animation: image 20s infinite;
}
@keyframes image {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#myImage2 {
  opacity: 0;
  animation: image2 20s infinite;
}
@keyframes image2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 50px 0;
  align-items: center;
}
#bio #uitleg {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#uitleg #download {
  margin-left: 0;
  width: 100%;
  align-items: ;
}
.wrapper {
  position: relative;
  width: 200px;
  grid-column-end: 3;
  grid-column-start: 1;
  margin-left: 5%;
}

.wrapper a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: var(--color2);
  border: 1px solid var(--color2);
  border-radius: 4px;
  letter-spacing: 2px;
  text-align: center;
  transition: all 1.35s;
  margin: auto;
}

.wrapper a span {
  position: relative;
  z-index: 2;
}

.wrapper a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color2);
  transition: all 0.35s;
  border-radius: 4px;
}

.wrapper:hover > a span {
  color: var(--color3);
}

.wrapper a:hover:after {
  width: 204px;
}

main #bio p {
  text-align: left;
  line-height: 2rem;
  font-size: var(--textSize);
  color: var(--color1);
}

/*einde bio*/
/*portfolio*/
#portfolio {
  margin: 0 0 50px 0;
}
#portfolio div {
  margin: 10px auto;
  text-align: left;
}
#divTitel {
  margin-top: 20px;
}
#titeltje {
  font-size: 2rem;
  color: var(--color4);
  text-align: left;
}
#portfolioItems {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--standaardMarge);
  justify-content: space-between;
  position: relative;
  top: 50px;
}
#item img {
  width: 400px;
}
#portfolioItems #item {
  margin: 10px 0px 10px 0;
  max-width: 100%;
  max-height: 600px;
  height: auto;
}

.middle {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.middle div p {
  font-family: var(--textFont);
  color: var(--color1);
}
#item:hover .middle {
  opacity: 1;
  display: block;
  transition-duration: 1s;
}

.expandable {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.noexpandable {
  cursor: pointer;
  max-width: 100%;
  max-height: 600px;
  width: 400px;
  margin: 0px 0 0px 0;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#overlay.hidden {
  display: none;
}

#expanded-image {
  max-width: 80%;
  max-height: 80%;
}

#close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#showAll {
  display: none;
}

/*einde portfolio*/
/*contact*/
main #contact #title,
main #contact #contactItems {
  margin: 10px auto;
}
#contact #contactItems p,
#contact #contactItems #gegevens a {
  color: var(--color1);
}
main #contactItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--textSize);
  margin-top: var(--standaardMarge);
  line-height: 2rem;
  font-size: var(--textSize);
}
#contactTekst {
  width: 50vw;
  padding-right: 5%;
}
main #contactItems div {
  text-align: left;
}
#gegevens {
  width: 50vw;
  text-align: left;
}
#gegevens a {
  text-decoration: none;
}
#gegevens div a:hover {
  color: red;
  text-decoration: underline;
}
#gegevens div {
  margin: auto;
  margin: auto auto var(--standaardMarge) auto;
}
#gegevens div span {
  cursor: pointer;
  margin-right: 10px;
}
#gegevens div span i:hover {
  transform: translateY(-5px);
  transition-duration: 0.5s;
  color: var(--color1);
}
#gegevens div span i {
  color: var(--color4);
}
#gegevens div span i svg {
  fill: var(--color4);
}

#gegevens div span i svg:hover {
  transform: translateY(-5px);
  transition-duration: 0.5s;
  fill: var(--color1);
}
/*einde contact*/

@media (max-width: 550px) {
  main #bio div img {
    width: 220px;
    margin: auto;
  }
  main {
    text-align: center;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  main #contactItems {
    flex-direction: column;
  }
  #gegevens,
  #contactTekst {
    width: 100%;
  }
  #portfolioItems {
    justify-content: space-between;
  }
}
@media (max-width: 960px) {
  main #bio div img {
    width: 250px;
    margin: auto;
  }
  main #bio div {
    margin: 10px auto;
  }
  main #bio div:nth-child(1) {
    margin: 10px auto;
  }
  main #bio div:nth-child(2) {
    width: 100vw;
    margin: 10px auto;
  }
  main {
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  #portfolioItems {
    justify-content: space-between;
  }
}
@media (max-width: 1100px) {
  #portfolioItems img {
    width: 350px;
  }
  #portfolioItems {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .hidden-image {
    display: none;
  }
  #showAll {
    display: block;
    margin: auto;
    cursor: pointer;
    border: none;
    color: var(--color3);
    font-size: 18px;
    border-radius: 4px;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: center;
    font-family: var(--titleFont);
    background-color: var(--color2);
    width: 200px;
    height: 40px;
  }
}
