@import "variables.css";

header {
  display: flex;
  background-color: var(--color3);
  flex-direction: column;
  padding: 0px 0px;
  min-height: 20vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: var(--titleFont);
}
@media (max-width: 550px) {
  header {
    padding: 0px 50px;
  }
}

header div a {
  font-size: 2.7rem;
  text-align: center;
}
header div {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 50vw;
  padding: 0 0 20px 0;
}
header ul li {
  margin: 0 0 0 0;
  width: 20vw;
  text-align: center;
}
header ul li a {
  text-decoration: none;
  color: var(--color4);
  font-size: 1.4rem;
  text-align: center;
}
header ul li a:hover {
  text-decoration: underline;
}
